@import "base/mixins";
@import "base/listmap";
@import "base/extends";

.img-productos {
  padding: 0px;
  margin: 30px;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);
  box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);
  border-radius: 5px;
  cursor: pointer;
}
.img-galeria {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);
  box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.img-galeria :hover,
.img-galeria:focus {
  transform: scale(1.15) !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 5) !important;
}
.img-productos :hover .img-productos :focus {
  transform: scale(1.15);
  transition: cubic-bezier(0.075, 0.82, 0.165, 5);
}
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fcfdfd;
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 700;
}

.caption:hover {
  transform: scale(1.1);
}

.img img {
  width: 100%;
}

#galeria img {
  width: 100%;

  // margin: 15px;
}
#galeria {
  padding: 25px;
  margin: 0;
}

// NOSOTROS HTML
.manga_img {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);
  box-shadow: 0px 0px 5px 1px rgba(132, 132, 132, 0.59);

  border-radius: 5px;
}

// @media only screen and (min-width: 0px) and (max-width: 576px){
//   .img-galeria {
//       max-width: fit-content;
//       margin:0px;
//       padding: 0px;
//       text-align: center;
//   }
//     }



